html
  head
    title Error
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a(href='/') SOLE
      a(href='/products') Shop
    .error-page
      h1 404
      p #{message}
      a.btn(href='/') Go Home