html
  head
    title Shoe Store
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a(href='/') SOLE
      a(href='/shoes') Shop
    .hero
      h1 Step Into Style
      p Curated kicks for every occasion.
      a.btn(href='/shoes') Shop All Shoes