doctype html
html
  head
    title= title ? title : 'Shoe Store'
    link(rel='stylesheet', href='/styles.css')
  body
    nav
      a.nav-brand(href='/') SOLE
      .nav-links
        a(href='/products') Shop
        a(href='/cart') Cart
        a(href='/login') Login
    main
      block content
    footer
      p &copy; 2026 Ali-Ali-Rigo-Ecommerce – All rights reserved.