extends layout

block content
  .page
    h1 My Profile
    p
      strong Username: 
      | #{customer.username}
    p
      strong Customer ID: 
      | #{customer.id}
    form(action='/logout', method='POST' style='margin-top:2rem')
      button.btn.btn-remove(type='submit') Log Out